.intro {
  @include bg-image("../img/zakim_bridge_large.jpg");
  background-color: black;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
}

@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 25px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover {
    i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
}

@-webkit-keyframes pulse {    
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0% {
      -moz-transform: scale(1);
      transform: scale(1);
  }

  50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
  }

  100% {
      -moz-transform: scale(1);
      transform: scale(1);
  }
}

section.about {
  @include bg-image("../img/hands_up.jpg");
  font-weight: 300;
  position: relative;
  .headline {
    position: absolute;
    top: 100px;
    right: 50px;
    font-size: 3.5em;
    @include responsive-font-size(3.5em, 2em);
    color: $color-blue;
  }
  .slogan {
    color: $color-dark-roon;
    @include responsive-font-size(1.7em, 1.2em);
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 28%;
    @media (max-width: 767px) {
      width: 40%;
      top: 150px;
      right: 50px;
      bottom: initial;
      left: initial;
    }

  }
}

section.work {
  max-height: 750px;
  font-weight: 300;
  .headline {
    margin: 50px 0 20px;
    font-size: 3em;
    color: $color-dark-roon;
  }
  .left-title {
    margin-top: 50px;
    font-size: 2.5em;
    color: $color-blue;
  }
  .service {
    margin: 40px 0;
  }
  p {
    color: $color-dark-pot;
    font-size: 1.3em;
  }
  .title {
    margin-top: 10px;
    color: $color-blue;
    font-size: 1.5em;
  }
  .desc {
    color: $color-dark-persim;
  }
}